.exhibitions {
  &__content {
    display: flex;
    flex-direction: column;
    margin: 60px 0 30px;
    box-sizing: border-box;
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    margin: 60px 0 30px;
    box-sizing: border-box;
    gap: 60px;

    @include onTablet {
      flex-direction: row;
      gap: 30px;
    }
  }
}
