.news-block {
  width: 100%;

  &__img {
    background-image: url(../images/paintings/angel.png);
    background-position: left;
    background-size: cover;
    height: 356px;

    &--man{
      background-image: url(../images/paintings/man-portrait.png);
    }
  }

  &__data {
    margin: 20px 0 10px;
    @extend %text;
    color: $color-button-default;
  }

  &__desc {
    margin: 20px 0 30px;
    @extend %text;
    font-size: 16px;
    line-height: 150%;
    color: $color-gray-accent;
  }
}
