%title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

%text {
  font-family: "Raleway", serif;
  font-weight: 400;
}

%button-text {
  font-family: "Raleway", serif;
  font-size: 16px;
  font-weight: 600;
}
