$tablet-min-width: 640px;
$desktop-min-width: 1280px;

$color-main-accent: #f1f5f4;
$color-background-accent: #3f5252;
$color-text-accent: #1c1b29;
$color-gray-accent: #504f5e;
$color-button-default: #cd4d31;
$color-button-hover: #af3419;
$color-button-pressed: #ea340d;
$color-button-disabled: #dd836f;
